.myProgress {
    width: 100%;
    height: 17px;
    background-color: grey;
}
  
.myBar {
    height: 100%;
    display: flex;
    justify-content: center;
}
#healthBar {
    width: 0%;
    background-color: green;
}
#qiBar {
    width: 0%;
    background-color: cyan;
}
#stamBar {
    width: 0%;
    background-color: rgb(204, 204, 70);
}

#playerInfo {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 2px rgb(241, 212, 47) solid;
    border-radius: 3%;
    padding: 5px;
    background-color:rgb(195, 185, 241) ;
}
#str{
    color: darkred;
}
#agi{
    color: forestgreen;
}
#end{
    color: rgb(223, 109, 15);
}

body{
    background-color: rgb(209, 206, 206)
}
.attribute{
    display: flex;
    justify-content: center;
}


